.form {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px;
}

.form__button {
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}

.form__button:hover {
  background-color: hsl(180, 100%, 30%);
}

.form__button:active {
  background-color: hsl(180, 100%, 40%);
}

.form__input {
  border: 2px solid #e6e6e6;
  padding: 10px;
}
@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .form__button {
    margin-left: 0px;
  }
}
