.section {
  background-color: white;
  margin-bottom: 0px;
}
.section-header {
  border-bottom: 2px solid #e6e6e6;
  padding: 10px;
  margin: 10px 0px;
}
.section-form {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px;
}
.section-tasks {
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.section-buttonAddTask {
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
.section-buttonAddTask:hover {
  background-color: hsl(180, 100%, 30%);
}
