.section {
  background-color: white;
  margin-bottom: 10px;
}

.section__header {
  border-bottom: 2px solid #e6e6e6;
  padding: 20px;
  margin: 10px 0px;
}
.section_tasks {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.section_buttonsCompleted {
  display: grid;
}
