.section {
  background-color: white;
  margin-bottom: 0px;
}
.section__header {
  border-bottom: 2px solid #e6e6e6;
  padding: 10px;
  margin: 10px 0px;
}
.section__form {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 10px;
}
.section__button {
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
.section__button:hover {
  background-color: hsl(180, 100%, 30%);
}
.section__square {
  height: 25px;
  width: 25px;
  background-color: green;
  border: none;
}
