.tasks {
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.tasks__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.task__button {
  height: 30px;
  width: 30px;
  background-color: green;
  border: none;
}
.task__button--remove {
  color: white;
  height: 30px;
  width: 30px;
  background-color: red;
  border: none;
}
.task__content {
  flex-grow: 1;
  margin: 10px;
}
