.tasks {
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.tasks__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.task__button {
  height: 30px;
  width: 30px;
  background-color: green;
  border: none;
  color: white;
}
.task__button:hover {
  background-color: hsl(120, 100%, 35%);
}
.task__button:active {
  background-color: hsl(120, 100%, 45%);
}
.task__button--remove {
  background-color: red;
}
.task__button--remove:hover {
  background-color: hsl(0, 100%, 70%);
}
.task__button--remove:active {
  background-color: hsl(0, 100%, 80%);
}
.task__content {
  margin: 10px;
  word-break: break-all;
  flex-basis: 100%;
}
.task__content--done {
  text-decoration: line-through;
}
