.introduction__header {
  text-align: center;
}
.introduction__photo {
  max-width: 300px;
  text-align: center;
  margin: 0px auto;
  display: block;
}
.hidden {
  display: none;
}
.introduction__paragraph {
  text-align: center;
  margin: 0px, auto;
  line-height: 30px;
}
.introduction__buttons {
  text-align: center;
  margin: 30px auto;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  margin: 0, auto;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
}
.introduction__buttons:hover {
  background-color: turquoise;
}
