html {
  box-sizing: border-box;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}
.body {
  background-color: rgb(53, 58, 74);
}
.body--whiteBackground {
  background-color: white;
}
.container {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
  line-height: 1.5;
}
.container--fontBlack {
  color: black;
}
.btn button:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}
.body--backgroundWhite {
  background-color: white;
}
.container--changeFontColor {
  color: coral;
}

.caption {
  text-align: center;
  margin-bottom: 10px;
}

.navigation_list li {
  display: inline-block;
  padding: 5px;
  list-style: none;
  text-align: center;
  margin-top: 10px;
}
.navigation_list a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  background-color: turquoise;
  padding: 5px 10px;
}
a {
  color: black;
}
a:visited {
  color: green;
}
a:hover {
  color: blue;
}
