.table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}
.table__cell {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.table__cell--header {
  background-color: turquoise;
  color: white;
  font-weight: normal;
}
.table__caption {
  text-align: center;
  margin-bottom: 10px;
}

.table__row:nth-child(even) {
  background-color: rgba(238, 238, 238, 0.432);
}
.table__row:hover {
  color: turquoise;
}
