.container {
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  font-family: "Titillium Web", sans-serif;
  padding: 20px;
}
.container__header {
  margin-top: 100px;
  text-align: center;
  font-size: 3.5em;
}
.container__form {
  max-width: 500px;
  margin: 0px auto;
  padding: 10px;
}
.container__btn {
  display: block;
  margin: 30px auto 10px;
}
.container__files {
  margin-top: 10px;
  margin-left: 30px;
}

.container__value {
  color: red;
  font-size: 1.4em;
}
.container__label {
  display: inline-block;
  width: 150px;
}
