.counter {
  color: white;
  font-family: "Titillium Web", sans-serif;
}
.counter__header {
  margin-top: 100px;
  text-align: center;
  font-size: 3.5em;
}
.counter__form {
  max-width: 500px;
  margin: 0px auto;
  padding: 10px;
}
.counter__btn {
  display: block;
  margin: 30px auto 10px;
}
.counter__files {
  margin-top: 10px;
  margin-left: 30px;
}

.counter__value {
  color: red;
  font-size: 1.4em;
}
