html {
  box-sizing: border-box;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/money_exchange.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
