html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/money_exchange.jpg) repeat;
  background-size: cover;
  background-repeat: repeat;
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
  line-height: 1.5;
}
a:visited {
  color: hsl(120, 100%, 80%);
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}
