html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.mySite {
  background-color: rgb(53, 58, 74);
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.hello {
  text-align: center;
}

.photo img {
  width: 300px;
  text-align: center;
  margin: 0px auto;
  display: block;
}
.aboutMe p {
  text-align: center;
  margin: 0px, auto;
  line-height: 30px;
}
.btn {
  text-align: center;
}
.font,
.background,
.removePhoto {
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  margin: 0, auto;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}
.whiteTheame {
  background-color: white;
  color: black;
}
.colorFont {
  color: rgb(0, 128, 0);
  background-color: tomato;
  margin: 0 auto;
}
