html {
  box-sizing: border-box;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}
.mySite {
  background-color: rgb(53, 58, 74);
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
  padding: 0;
  min-height: 100%;
  position: relative;
}
.main {
  padding: 10px;
  padding-bottom: 60px;
}
.hello {
  text-align: center;
}

.photo img {
  width: 300px;
  text-align: center;
  margin: 0px auto;
  display: block;
}
.aboutMe p {
  text-align: center;
  margin: 0px, auto;
  line-height: 30px;
}
.btn button {
  text-align: center;
}
.font,
.background,
.removePhoto {
  margin: 30px auto;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  margin: 0, auto;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(20, 20, 20);
  color: white;
}
.whiteTheame {
  background-color: white;
  color: black;
}
.colorFont {
  color: coral;
  margin: 0 auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer p {
  position: relative;
  background-color: lightslategrey;
  margin: 0 auto;
  padding: 15px;
}
.table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tableCell {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.tableHeader {
  background-color: turquoise;
  color: white;
  font-weight: normal;
}
.caption {
  text-align: center;
  margin-bottom: 10px;
}

.tableRow:nth-child(even) {
  background-color: rgba(238, 238, 238, 0.432);
}
