.container {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  overflow-x: auto;
  line-height: 1.5;
}
.container--fontBlack {
  color: black;
}
.body--backgroundWhite {
  background-color: white;
}
.container--changeFontColor {
  color: coral;
}
