.header__header {
  text-align: center;
}
.header__photo {
  width: 300px;
  text-align: center;
  margin: 0px auto;
  display: block;
}
.header__paragraph {
  text-align: center;
  margin: 0px, auto;
  line-height: 30px;
}
.header__buttons {
  text-align: center;
  margin: 30px auto;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: bold;
  margin: 0, auto;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
}
.header__buttons:hover {
  background-color: turquoise;
}
