html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
.body {
  background-color: rgb(53, 58, 74);
}
a:visited {
  color: green;
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}
