html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
body {
  background-color: rgb(53, 58, 74);
}
a:visited {
  color: green;
}
a:hover {
  color: hsl(226, 17%, 65%);
}
a:active {
  color: red;
}
.footer {
  text-align: center;
}
.footer--link {
  text-decoration: none;
  color: white;
}
