html {
  box-sizing: border-box;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}
body {
  background-color: rgb(53, 58, 74);
}
a {
  color: white;
}
a:visited {
  color: green;
}
a:hover {
  color: hsl(226, 17%, 65%);
}
footer {
  text-align: center;
}
footer a {
  text-decoration: none;
}
